:root {
  --ui-panel-3-width: 260px;
  --ui-panel-common-header-font-size: 12.5px;
  --ui-panel-common-slider-thumb-size: 12px;
  --ui-panel-common-slider-track-height: 8px;
  --ui-panel-1-padding: 10px;
  --ui-panel-1-row-gap: 6px;
  --ui-color-card-height: 25px;
  --ui-color-card-name-font-size: 11px;
  --ui-color-swatch-height: 6px;
  --ui-color-assign-button-height: 15px;
  --ui-color-assign-button-gap: 8px;
  --ui-color-action-button-height: 15px;
  --ui-panel-2-label-font-size: 7.5px;
  --ui-panel-3-padding: 9px;
  --ui-panel-3-label-width: 56px;
  --ui-panel-3-check-width: 16px;
  --ui-panel-3-slider-min-width: 88px;
  --ui-panel-3-value-width: 50px;
  --ui-panel-3-value-gap: 0px;
  --ui-panel-3-column-gap: 6px;
  --ui-panel-3-slider-offset-x: 0px;
  --ui-panel-3-value-offset-x: 0px;
  --ui-panel-3-row-gap: 1px;
  --ui-panel-3-row-height: 20px;
  --ui-panel-3-label-font-size: 9.5px;
  --ui-panel-3-value-font-size: 11px;
  --ui-panel-4-width: 260px;
  --ui-panel-4-padding: 10px;
  --ui-panel-4-row-gap: 2px;
  --ui-panel-4-button-font-size: 10px;
  --ui-panel-4-action-height: 20px;
  --ui-panel-4-action-gap: 6px;
  --ui-panel-4-label-width: 42px;
  --ui-panel-4-slider-min-width: 96px;
  --ui-panel-4-value-width: 46px;
  --ui-panel-4-column-gap: 6px;
  --ui-panel-4-row-height: 20px;
  --ui-panel-4-value-gap: 0px;
  --ui-panel-4-slider-offset-x: 0px;
  --ui-panel-4-value-offset-x: 0px;
  --ui-panel-4-label-font-size: 11px;
  --ui-panel-4-value-font-size: 10.5px;
  --ui-variant-panel-width: 388px;
  --ui-variant-panel-padding: 12px;
  --ui-variant-panel-gap: 2px;
  --ui-variant-label-font-size: 12.5px;
  --ui-variant-select-font-size: 14.5px;
  --ui-variant-select-height: 35px;
  --ui-variant-select-padding-x: 15px;
  --ui-variant-select-radius: 28px;
  --ui-variant-details-padding: 9px;
  --ui-variant-details-row-gap: 0px;
  --ui-variant-details-column-gap: 3px;
  --ui-variant-details-label-width: 48px;
  --ui-variant-details-slider-width: 80px;
  --ui-variant-details-value-width: 31px;
  --ui-variant-details-label-font-size: 7px;
  --ui-variant-details-button-font-size: 9.5px;
  --ui-variant-details-button-padding-x: 10px;
  --ui-variant-details-button-gap: 0px;
  --ui-case-button-font-size: 13px;
  --ui-case-button-gap: 2px;
  --ui-case-button-left: 7px;
  --ui-case-button-bottom: -12px;
  --ui-left-mini-button-size: 19px;
  --ui-left-mini-button-font-size: 16px;
}
