:root {
  --ui-panel-3-width: 220px;
  --ui-panel-3-padding: 7px;
  --ui-panel-3-label-width: 56px;
  --ui-panel-3-check-width: 16px;
  --ui-panel-3-slider-min-width: 54px;
  --ui-panel-3-value-width: 46px;
  --ui-panel-3-value-gap: 0px;
  --ui-panel-3-column-gap: 3px;
  --ui-panel-3-slider-offset-x: 0px;
  --ui-panel-3-value-offset-x: 0px;
  --ui-panel-3-row-gap: 1px;
  --ui-panel-3-row-height: 19px;
  --ui-panel-3-label-font-size: 9.5px;
  --ui-panel-3-value-font-size: 10.5px;
  --ui-panel-4-width: 220px;
  --ui-panel-4-padding: 7px;
  --ui-panel-4-row-gap: 0px;
  --ui-panel-4-button-font-size: 9px;
  --ui-panel-4-action-height: 17px;
  --ui-panel-4-action-gap: 3px;
  --ui-panel-4-label-width: 38px;
  --ui-panel-4-slider-min-width: 76px;
  --ui-panel-4-value-width: 28px;
  --ui-panel-4-column-gap: 4px;
  --ui-panel-4-row-height: 18px;
  --ui-panel-4-value-gap: 0px;
  --ui-panel-4-slider-offset-x: 0px;
  --ui-panel-4-value-offset-x: 0px;
  --ui-panel-4-label-font-size: 10.5px;
  --ui-panel-4-value-font-size: 10.5px;
}
